.container {
	margin: 3em auto;
	width: 600px;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.hidden {
	display: none;
}

.recResult {
	list-style: none;
}

.recType {
	font-style: italic;
	font-size: 0.9em;
}

.recImage img {
	width: 200px;
}

.alikeButton:hover {
	cursor: pointer;
}