html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.container {
	margin: 3em auto;
	width: 600px;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.hidden {
	display: none;
}

.alikeButton:hover {
	cursor: pointer;
}

.whole-page {
	position: relative;
	width: 100%;
	overflow: hidden;
	min-width: 1024px;
	min-height: 800px;
}

/* LANDING PAGE */

#landing .row {
	margin-top: 130px;
}
#landing .logo {
	font-size: 6em;
}

#landing .recommendation-getter {
	width: 30%;
	height: 100%;
}

.placeholder {
	color: #808080;
	display: block;
	margin-bottom: 30px;
	font-size: 1.4em;
	text-align: center;
}
.artForm {
	color: #C50404;
}

#landing p {
	color: #b0b0b0;
	font-family: 'Vollkorn', serif;
	font-size: 0.9em;
	font-style: italic;
	margin-top: 100px;
}
#landing p a {
	color: #949494;
	text-decoration: none;
}
#landing p a:hover {
	color: #1070BB;
}

/* LEFT COLUMN */
#leftCol {
    float: left;
    width: 330px;
    min-height: 100%;
    position: fixed;
}

.logo {
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
	margin-top: 20px;
	text-align: center;
}

.recommendation-getter {
	/* margin-top: 25px; */
	font-family: 'Montserrat', sans-serif;
	height: 75px;
	position: relative;
	width: 70%;
	margin: 25px auto;
}

.recommendation-getter input[type="text"] {
	outline: none;
	border: none;
	font-size: 1em;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	width: 99%;
}

.inputField {
	position: relative;
}

.recommendation-getter input[type="submit"] {
	background: white;
	border-radius: 0;
	border: 1px solid black;
	color: grey;
	cursor: pointer;
	float: right;
	margin: 10px 0 0 0;
	padding: 5px 8px;
	font-size: 0.9em;
}

.recommendation-getter input[type="submit"]:hover {
	background: #FAFAFA;
	color: black;
}

#filters {
	margin-top: 50px;
	width: 70%;
	margin: 50px auto;
}

#filters ul {
	list-style: none;
	padding: 0;
}

#filters ul li {
	margin: 10px 0;
	color: #AFAFAF;
	cursor: pointer;
}
#filters ul li:hover {
	color: grey;
}

#filters ul li.selected {
	color: black;
	cursor: default;
}

#filters ul li.selected:hover {
	color: black;
}

.recCount {
	float: right;
}

/* MASONRY */

.queryItem {
	border: 2px solid #3A3A3A;
	background: #F1F1F1;
}

.queryItem .recTitle{
	padding: 0px 10px 5px;
}

#masonry-con, #masonry-con-music, #masonry-con-movie, #masonry-con-book, #masonry-con-show {
	max-width: 1207px;
	left: 345px;
	width: 75%;
	margin-top: 18px;
}

.item { 
	width: 25%;
	min-width: 200px;
	margin-bottom: 30px;
}
.item.w2 { width: 50%; }


/* STYLE OF THE REC ITEMS */
.recTitle {
	color: #686868;
	cursor: pointer;
	float: left;
	font-size: 0.9em;
	margin-top: 5px;
}

.recTitle:hover {
	color: #1070BB;
}

.recResult {
	list-style: none;
}

.recType {
	font-style: italic;
	font-size: 0.9em;
}

.recImg {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.recImg img {
	float: left;
	width: 100%;
}

.recDescription {
	display: none;
	background: rgba(43, 42, 42, 0.7);
	color: white;
	font-family: 'Vollkorn', serif;
	padding: 5%;
	position: absolute;
	height: 100%;
	overflow: hidden;
	width: 90%;
}

.links {
	list-style: none;
	text-align: right;
	margin-top: 20px;
	border-top: 1px solid #FFF;
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
}

.links li {
	display: inline;
	margin-right: 20px;
}

.links li:hover, .alike:hover, .buyRec:hover {
	color: red;
	cursor: pointer;
}

.buyRec {
	text-decoration: none;
	color: white;
}

.alike {
	font-family: 'Permanent Marker', cursive;
	font-size: 1.2em;
	float: left;
	margin-top: 35px;
	margin-left: 15px;
}

.recVideo {
	display: none;
}
.recVideoHolder {
	display: none;
}

.item.gigante {
  width: 580px;
}
.item.gigante:hover {
	cursor: default;
}
.item:hover {
	cursor: pointer;
}


/* RESPONSIVE */

@media (max-width: 550px) {
	#landing .recommendation-getter {
		width: 70%;
	}
	.placeholder {
		font-size: 1.2em;
	}

	#leftCol {
		width: 100%;
		float: none;
		position: relative;
	}
	#masonry-con, #masonry-con-music, #masonry-con-movie, #masonry-con-book, #masonry-con-show {
		width: 100%;
		left: 15%;
	}
	.item {
		min-width: 70%;
	}
	.item.gigante{
		width: 370px;
		margin-left: -30px;
	}
}


